<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-altacuenta">
  <template>

    <iron-ajax
      id="doNewAccount"
      method="POST"
      url="http://my-projectvyp-apitechuvyp.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/user/account"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmAltacuenta extends Polymer.Element {
      static get is() { return 'dm-altacuenta'; }
      static get properties() {
        return {
          userid : {
            type : Number,
            observer : 'requestNewAccount'
          }

        };
      }

      /**
      * Función que envia la petición de alta de cuenta al servidor mediante IronAjax
      * @param {json} data id del usuario
      */
      requestNewAccount(data){
        console.log("Componente dm-altacuenta : funcion _requestNewAccount");
        console.log(" idusuario --> " + this.userid);
        var idData = {
          "id" : this.userid
        }
        console.log("  Datos entrada ->" + JSON.stringify(idData));
        this.$.doNewAccount.body = JSON.stringify(idData);
        this.$.doNewAccount.generateRequest();
        console.log("  Petición enviada");
        console.log("  LLamada a la API");
      }

      /**
      * Respuesta correcta de la api alta de cuenta
      * @param {event} data datos de id de usuario
      * @returns {event} devuelve el evento 'altacuenta-response'
      */
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data);
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent("altacuenta-response",{"detail":data.detail.response}));
        console.log("  Evento enviando");
      }

      /**
      * Respuesta errónea de la api alta cuenta
      * @param {event} error respuesta del servidor en caso de error
      * @returns {event} devuelve el evento 'altacuenta-error'
      */
      showError(error){
        console.log("Error dm-altacuenta");
        console.log(error);
        this.dispatchEvent(new CustomEvent("altacuenta-error",{
          "detail": {
            "msg":"Error alta cuenta usuario"
            }
          })
        );
      }

    }

    window.customElements.define(DmAltacuenta.is, DmAltacuenta);
  </script>
</dom-module>
