<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doAccount"
      url="http://my-projectvyp-apitechuvyp.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/{{user}}/accounts"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmCuentas extends Polymer.Element {
      static get is() { return 'dm-cuentas'; }
      static get properties() {
        return {
          user: {
            type: Number,
            observer: 'requestAccount'
          }
        };
      }

      /**
      * Función que se ejecuta cuando cambia el valor de la propiedad 'user'.
      * Envia la petición de consulta de cuentas de un usuario al servidor mediante IronAjax
      */
      requestAccount(){
        console.log("Entrando en 'requestAccount'");
        this.$.doAccount.generateRequest();
        console.log("Llamada a API cuentas realizada");
      }

      /**
      * Respuesta correcta de la api consulta de cuentas
      * @param {event} e respuesta del servidor
      * @returns {event} devuelve el evento 'accountresponse'
      */
      manageAJAXResponse(e){
        console.log("Consulta correcta. IronAjax");
        console.log(e);
        console.log(e.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "accountresponse",
            {
              "detail":e.detail.response
            }
          )
        );
      }

      /**
      * Respuesta errónea de la api consulta de cuentas
      * @param {event} error respuesta del servidor en caso de error
      * @returns {event} devuelve el evento cuentas-error
      */
      showError(error){
          console.log("Error dm-cuentas");
          console.log(error);
          this.dispatchEvent(new CustomEvent("cuentas-error",{
            "detail": {
                "msg":"No hay cuentas disponibles"
              }
            })
          );
      }

    }

    window.customElements.define(DmCuentas.is, DmCuentas);
  </script>
</dom-module>
