<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-user">
  <template>

    <iron-ajax
      id="doUser"
      method="POST"
      url="http://my-projectvyp-apitechuvyp.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/user"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmUser extends Polymer.Element {
      static get is() { return 'dm-user'; }
      static get properties() {
        return {
          new_user : {
            type : Object,
            observer : 'requestUser'
          }

        };
      }

      /**
      * Función envia la petición de alta al servidor mediante IronAjax
      * @param {json} data datos del usuario
      */
      requestUser(data){
        console.log("Componente dm-user : funcion _requestUser");
        console.log("  Datos entrada ->" + JSON.stringify(data));
        this.$.doUser.body = JSON.stringify(data);
        this.$.doUser.generateRequest();
        console.log("  LLamada a la API");
      }

      /**
      * Respuesta correcta de la api user, alta de usuario
      * @param {event} data respuesta del servidor
      * @returns {event} devuelve el evento user-response
      */
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data);
        console.log(data.detail.response);
        this.dispatchEvent(new CustomEvent(
            "user-response",
            {
              "detail":data.detail.response
            }
          )
        );
        console.log("  Evento enviando");
      }

      /**
      * Respuesta errónea de la api user, alta de usuario
      * @param {event} error respuesta del servidor en caso de error
      * @returns {event} devuelve el evento user-error
      */
      showError(error){
        console.log("Error dm-user");
        console.log(error);
        this.dispatchEvent(new CustomEvent("user-error",{
          "detail": {
            "msg":"Error alta usuario"
            }
          })
        );
      }

    }

    window.customElements.define(DmUser.is, DmUser);
  </script>
</dom-module>
