<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/image-carousel/image-carousel.html">

<dom-module id="ui-home">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <p>
    <div class="form-group">
      <nav class="navbar navbar-light " >
        <h3>¡Hola,<strong> {{first_name}} {{last_name}}!</strong></h3>
      </nav>
      <nav class="navbar navbar-light " >
        <h5>Tu email es <strong> {{email}}</strong></h5>
      </nav>
    </div>

    <div class="container">
    <image-carousel aria-label="example carousel">
      <template is="dom-repeat" items='["https://s3-eu-west-1.amazonaws.com/usr25-imgproyectbucket/hipoteca.png", "https://s3-eu-west-1.amazonaws.com/usr25-imgproyectbucket/bancaMovil.jpg", "https://s3-eu-west-1.amazonaws.com/usr25-imgproyectbucket/planPensiones.jpg"]' slot="images">
        <img src="[[item]]" class="scrolling-images" alt$="demo image alt [[index]]" width="100px" height="350px">
      </template>
    </image-carousel>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiHome extends Polymer.Element {
      static get is() { return 'ui-home'; }
      static get properties() {
        return {
          first_name:{
            type: String
          },
          last_name:{
            type: String
          },
          email:{
            type:String
          }
        };
      };

    }

    window.customElements.define(UiHome.is, UiHome);
  </script>
</dom-module>
