<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="ui-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="form-group">
      <nav class="navbar navbar-light " >
        <h4>Cuenta: {{iban_acc}}</h4>
      </nav>
    </div>

    <div class="card">
      <div class="card-header">
        <table>
		        <tr>
			           <td width="20%">
				               <img src="https://s3-eu-west-1.amazonaws.com/usr25-imgproyectbucket/transferaccount_icon.png" alt="account" style="width: 40px; height: 40px" class="rounded float-left">
			           </td>
			           <td width="80%">
				               <h5>Sus movimientos</h5>
			           </td>
		        </tr>
	     </table>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CONCEPTO</th>
              <th scope="col">FECHA</th>
              <th scope="col">IMPORTE</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" id="movimientos" items="{{movement}}">
              <tr>
    	           <td>{{item.description}}</td>
                 <td>{{item.date}}</td>
                 <td>{{item.amount}}€</td>
               </tr>
             </template>
           </tbody>
         </table>
       </div>
     </div>
     <div class="form-group">
       <nav class="navbar navbar-light " >
         <h4>Saldo Total: {{balance}}</h4>
       </nav>
     </div>

     <nav class="navbar navbar-light" style="background-color: #D4EDFC;">
       <h4><strong>¿Quieres realizar alguna operacion?</strong></h4>
     </nav>
     <p>
     <p>
     <div class="container">
       <div class="input-group">
         <input type="number" class="form-control" placeholder="Importe" value={{amount::input}}>
         <select class="custom-select bg-light" id="inputOperacion" value="{{description::input}}">
           <option selected value="Ingreso">Ingreso</option>
           <option value="Retirada">Retirada</option>
         </select>
         <div class="input-group-append">
           <button type="button" class="btn btn-secondary btn-sm" id="altaOperacion" on-click="sendAltaMovement">Aceptar</button>
         </div>
       </div>
     </div>
    <p>
    <p>
    <p>
    <p>
  </template>

  <script>
    /**
    * @customElement
    * @polymer
    */
    class UiMovimientos extends Polymer.Element {
      static get is() { return 'ui-movimientos'; }
      static get properties() {
        return {
          movement:{
            type:Array
          },
          account_id:{
            type:Number
          },
          iban_acc:{
            type:String
          },
          balance:{
            type:Number
          },
          amount:{
            type:Number
          },
          description:{
            type:String,
            value: "Ingreso"
          }
        };
      };

      /**
      * Función que envia evento para mostrar información de movimientos de una cuenta
      * @param {event} e recibe Objeto con las cuentas del usuario
      * @returns {event} devuelve el evento 'mymovement'
      */
      sendAltaMovement(e){
        console.log("Enviando datos alta movimiento");
        console.log(e);
        var num =  parseFloat(this.amount);
        var num2 = num.toFixed(2);
        if (this.description == 'Retirada'){
          this.amount = this.amount*(-1);
        }
        else{
          this.amount = this.amount*(1);
        }
        var movementAlta = {
          "account_id": this.account_id,
          "description": this.description,
          "amount": this.amount
        };
        console.log(movementAlta);
        this.dispatchEvent(
          new CustomEvent(
            "mymovement",
            {
              "detail" : {
                "account_id": this.account_id,
                "description": this.description,
                "amount": this.amount
              }
            }
          )
        );
      }

      /**
      * Inicializa el campo importe del alta de movimiento
      */
      inicializar(){
        this.amount=null;
        console.log('inicializacion de variables');
      }
    }

      window.customElements.define(UiMovimientos.is, UiMovimientos);
  </script>
</dom-module>
