<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-logout">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doLogout"
      method="POST"
      url="http://my-projectvyp-apitechuvyp.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/{{idlogout}}/logout"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogout extends Polymer.Element {
      static get is() { return 'dm-logout'; }
      static get properties() {
        return {
          idlogout: {
            type: Number
          }
        };
      }

      /**
      * Función envia la petición de logout al servidor mediante IronAjax (doLogout)
      */
      requestLogout(){
        console.log("Entrando en 'requestLogout'");
        this.$.doLogout.generateRequest();
        console.log("Llamada a API logout realizada");
      }

      /**
      * Genera el evento 'logoutresponse' con el id del usuario y un mensaje
      * @param {event} e generado al pulsar botón logout
      * @returns {json} id del usuario y mensaje
      */
      manageAJAXResponse(e){
        console.log("Consulta correcta. IronAjax");
        console.log(e);
        console.log(e.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "logoutresponse",
            {
              "detail":e.detail.response
            }
          )

        );
      }

      /**
      * Respuesta errónea de la api logout
      * @param {event} error respuesta del servidor en caso de error
      */
      showError(error){
        console.log("Hubo algun error.");
        console.log(error);
        console.log(error.detail.error);
      }

    }

    window.customElements.define(DmLogout.is, DmLogout);
  </script>
</dom-module>
