<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-altamov">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doAltaMov"
      method="POST"
      url="http://my-projectvyp-apitechuvyp.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/altamov"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmAltaMov extends Polymer.Element {
      static get is() { return 'dm-altamov'; }
      static get properties() {
        return {
          altamovement: {
            type: Object,
            observer: 'requestAltaMov'
          }
        };
      }

      /**
      * Función que se ejecuta cuando cambia el valor de la propiedad 'altamovement'.
      * Envia la petición de alta de movimiento de una cuenta al servidor mediante IronAjax
      * @param {json} data datos de la cuenta, importe y tipo de operacion
      */
      requestAltaMov(data){
        console.log("Entrando en 'requestAltaMov'");
        console.log(data);
        this.$.doAltaMov.body = data;
        this.$.doAltaMov.generateRequest();
        console.log("Llamada a API alta movimientos realizada");
      }

      /**
      * Respuesta correcta de la api alta de movimientos de una cuenta
      * @param {event} e respuesta del servidor
      * @returns {event} devuelve el evento 'altamovresponse'
      */
      manageAJAXResponse(e){
        console.log("Consulta correcta. IronAjax");
        console.log(e);
        console.log(e.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "altamovresponse",
            {
              "detail":e.detail.response
            }
          )
        );
        //this.msg=e.detail.response.msg;
        //this.email=e.detail.response.user.email;
        //this.password=e.detail.response.user.password;
      }

      /**
      * Respuesta errónea de la api consulta de movimientos de una cuenta
      * @param {event} error respuesta del servidor en caso de error
      * @returns {event} devuelve el evento 'movimientos-error'
      */
      showError(error){
        console.log("Error dm-altamov");
        console.log(error.detail);
        this.dispatchEvent(new CustomEvent("altamov-error",{
          "detail": {
              "msg":"No se ha podido realizar la operacion"
            }
          })
        );
      }

    }

    window.customElements.define(DmAltaMov.is, DmAltaMov);
  </script>
</dom-module>
