<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../receptor-login/receptor-login.html">
<link rel="import" href="../dm-cuentas/dm-cuentas.html">
<link rel="import" href="../ui-home/ui-home.html">
<link rel="import" href="../ui-cuentas/ui-cuentas.html">
<link rel="import" href="../dm-logout/dm-logout.html">
<link rel="import" href="../dm-movimientos/dm-movimientos.html">
<link rel="import" href="../ui-movimientos/ui-movimientos.html">
<link rel="import" href="../dm-apiexterna/dm-apiexterna.html">
<link rel="import" href="../ui-error/ui-error.html">
<link rel="import" href="../dm-altamov/dm-altamov.html">
<link rel="import" href="../ui-altamov/ui-altamov.html">
<link rel="import" href="../ui-usermsg/ui-usermsg.html">
<link rel="import" href="../ui-user/ui-user.html">
<link rel="import" href="../dm-user/dm-user.html">
<link rel="import" href="../dm-altacuenta/dm-altacuenta.html">



<dom-module id="gestor-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class="navbar navbar-expand-md navbar-light bg-light" style="text-align: center; background: linear-gradient(90deg, #D4EDFC, #08298A, #D4EDFC);">
      <span class="navbar-brand mb-0 h1" style="margin:0 auto; font-size: 2.75rem; color: #FFFFFF;"> Bienvenido a su banco</span>
      <div hidden$="{{!showLogged}}">
        <button type="button" class="btn btn-primary" style="align: rigth" on-click="sendDatosLogout">Cerrar Sesion</button>
      </div>
    </nav>

    <nav class="nav" style="background: #004481">
      <div hidden$="{{!showLog}}">
        <button type="button" class="btn btn-primary" style="border: #004481; border-radius: 20px" on-click="eventHome">Home</button>
        <button hidden$="{{!showLogged}}" type="button" class="btn btn-primary" style="border: #004481; border-radius: 20px" on-click="eventCuentas">Cuentas Personales</button>
      </div>
    </nav>

    <template is="dom-if" if="{{showIcon}}">
      <p class="text-right">
        <img src="http://openweathermap.org/img/w/{{weather}}.png" alt="weather">
        <b><font size=5 >{{temp}}º</b></font>  <font size=3>min {{temp_min}}º max {{temp_max}}º</font>
      </p>
    </template>

    <div hidden$="{{!showLog}}">
      <dm-logout id="logout" idlogout={{id_user}} on-logoutresponse="processRequestLogout"></dm-logout>
    </div>

    <div hidden$="{{showLog}}">
      <login-usuario id="login" on-mylog="processDataLogin" on-myeventuser="processEventAlta"></login-usuario>
    </div>

    <receptor-login id="receiver" credential={{userInfo}} on-logresponse="processRequestLogin" on-login-error="processError"></receptor-login>
    <dm-cuentas id="cuentas" user={{id_user}} on-accountresponse="processRequestAccount" on-cuentas-error="processError"></dm-cuentas>

    <div hidden$="{{showHome}}">
      <ui-home id="uihome" first_name={{first_name}} last_name={{last_name}} email={{email}}></ui-home>
    </div>

    <div hidden$="{{showAcc}}">
      <ui-cuentas id="uicuentas" first_name={{first_name}} last_name={{last_name}} account={{account}} on-myaccount="processDataAcc"></ui-cuentas>
    </div>

    <dm-movimientos id="movimientos" id_account={{id_account}} on-movementresponse="processRequestMovement" on-movimientos-error="processError"></dm-movimientos>

    <div hidden$="{{showMov}}">
      <ui-movimientos id="uimovimientos" account_id={{id_account}} iban_acc={{iban_account}} balance={{balance}} movement={{movement}} on-mymovement="processAltaMovement"></ui-movimientos>
    </div>

    <dm-altamov id="altamov" altamovement={{altamov}} on-altamovresponse="processRequestAltaMov" on-altamov-error="processError"></dm-altamov>

    <div hidden$="{{showAMov}}">
      <ui-altamov id="uialtamov"></ui-movimientos>
    </div>

    <div hidden$="{{showAUser}}">
      <ui-usermsg id="uiusermsg"></ui-usermsg>
    </div>

    <div hidden$="{{showUser}}">
      <ui-user id="uiuser" on-myeventuser="processEventUser" ></ui-user>
    </div>

    <dm-user id="dmuser" new_user={{new_user}} on-user-response="processRequestUser" on-user-error="processError"></dm-user>
    <dm-altacuenta userid={{new_iduser}} on-altacuenta-response="processResquestAltaCuenta" on-altacuenta-error="processError"></dm-altacuenta>

    <dm-apiexterna id="dmapiexterna" on-apiext-response="processWeather"></dm-apiexterna>

    <div hidden$="{{showError}}">
      <ui-error id="uierror" mensaje={{msg}}></ui-error>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorLogin extends Polymer.Element {
      static get is() { return 'gestor-login'; }
      static get properties() {
        return {
          userInfo:{
            type: Object
          },
          id_user:{
            type: Number
          },
          id_user2:{
            type: Number
          },
          first_name:{
            type: String
          },
          last_name:{
            type: String
          },
          account:{
            type:Array
          },
          id_account:{
            type: Number
          },
          iban_account:{
            type: String
          },
          balance:{
            type: Number
          },
          movement:{
            type:Array
          },
          altamov:{
            type:Object
          },
          new_user : {
              type : Object
          },
          new_iduser: {
              type: String
          },
          showLogged : {
              type: Boolean,
              value: false
          },
          showLog : {
              type: Boolean,
              value: false
          },
          showAcc : {
              type: Boolean,
              value: true
          },
          showMov : {
              type: Boolean,
              value: true
          },
          showHome : {
              type: Boolean,
              value: true
          },
          showAMov : {
              type: Boolean,
              value: true
          },
          showError : {
              type: Boolean,
              value: true
          },
          msg: {
              type: String,
              value : ""
          },
          weather : {
              type: String,
              value: ""
          },
          temp : {
              type: Number
          },
          temp_min : {
              type: Number
          },
          temp_max : {
              type: Number
          },
          showIcon:{
              type: Boolean,
              value:false
          },
          showUser : {
              type: Boolean,
              value: true
          },
          showAUser : {
              type: Boolean,
              value: true
          }
        };
      };

      /**
      * Función que se ejecuta cuando se genera el evento 'mylog'
      * Se informa la variable 'userInfo' que desencadenará la ejecución del receptor-login
      * @param {event} e credenciales del usuario
      */
      processDataLogin(e){
        console.log("Evento del login-usuario capturado");
        console.log(e);
        console.log(e.detail);
        this.userInfo=e.detail;
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'logresponse'
      * Se informan los datos del usuario: first_name, last_name, email, id
      * @param {event} e datos del usuario
      */
      processRequestLogin(e){
        console.log("Evento del receptor-usuario capturado");
        console.log(e);
        console.log(e.detail);
        console.log("e.detail.user.id: " + e.detail.user.id);
        this.showAUser = true;
        if (this.id_user == e.detail.user.id){
          console.log("if");
          this.showAcc = false;
          this.showLog = true;
          this.showLogged = true;
        }
        else{
          console.log("else");
          this.first_name = e.detail.user.first_name;
          this.last_name = e.detail.user.last_name;
          this.email = e.detail.user.email;
          this.showLog = true;
          this.showLogged = true;
          this.id_user = e.detail.user.id;
        }

      }

      /**
      * Función que se ejecuta cuando se genera el evento 'accountresponse'
      * Se informan las cuentas del usuario
      * @param {event} e cuentas del usuario
      */
      processRequestAccount(e){
        console.log("Evento del dm-cuentas capturado");
        console.log(e);
        console.log(e.detail);
        this.showAcc = false;
        this.account = e.detail;
        console.log("showAcc: " + this.showAcc);
        console.log("showlog: " + this.showLog);
      }

      /**
      * Función que se ejecuta cuando se hace click en boton 'Logout'
      */
      sendDatosLogout(){
        console.log("Enviando datos logout");
        this.$.logout.requestLogout();
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'logoutresponse'
      */
      processRequestLogout(){
        console.log("Evento del dm-logout capturado");
        this.showLogged = false;
        this.showLog = false;
        this.showAcc = true;
        this.showMov = true;
        this.showHome = true;
        this.showAMov = true;
        this.showError = true;
        this.showUser = true;
        this.showAUser = true;
        this.$.login.inicializarLog();
        console.log("showAcc: " + this.showAcc);
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'myaccount'
      * Se informa la variable 'id_account' que desencadenará la ejecución del 'dm-movimientos'
      * @param {event} e cuentas del usuario
      */
      processDataAcc(e){
        console.log("Evento del ui-cuentas capturado");
        console.log(e);
        this.$.uimovimientos.inicializar();
        if (this.id_account == e.detail.account_id){
          console.log("this.id_account: " + this.id_account);
          console.log("e.detail.account_id: " + e.detail.account_id);
          this.showAcc = true;
          this.showAMov = true;
          this.showMov = false;
          this.balance=e.detail.balance;
          this.$.movimientos.requestMovement();
        }
        else{
          this.iban_account=e.detail.account;
          this.balance=e.detail.balance;
          this.id_account=e.detail.account_id;
        }
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'movementresponse'
      * Se informan los datos de los movimientos de una cuenta
      * @param {event} e movimientos de una cuenta
      */
      processRequestMovement(e){
        console.log("Evento del dm-movimientos capturado");
        console.log(e);
        console.log(e.detail);
        console.log("this.balance: " + this.balance);
        this.movement=e.detail;
        this.showAcc = true;
        this.showAMov = true;
        this.showMov = false;
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'mymovement'
      * Se informa la variable 'altamov' que desencadenará la ejecución del 'dm-altamov'
      * @param {event} e datos del movimiento
      */
      processAltaMovement(e){
        console.log("Evento del ui-movimientos(alta) capturado");
        console.log(e);
        console.log(e.detail);
        this.altamov = e.detail;
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'altamovresponse'
      * Se informan los datos del movimiento
      */
      processRequestAltaMov(){
        this.showAMov = false;
        this.showMov = true;
        this.showError = true;
        this.$.uimovimientos.inicializar();
        this.$.cuentas.requestAccount();
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'myeventuser' del ui-user
      * Se informa la variable 'new_user' que desencadenará la ejecución del 'dm-user'
      * @param {event} e datos del nuevo usuario
      */
      processEventUser(e){
        console.log("Evento capturado del componente ui-user");
        console.log(e.detail);
        this.showUser = false;
        this.showLog = true;
        this.showError = true;
        this.new_user = e.detail;
        console.log("  Mostramos datos nuevo usuario -> " + JSON.stringify(this.new_user));
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'user-response'
      * Se informan los datos del nuevo usuario
      * @param {event} e datos del nuevo usuario
      */
      processRequestUser(e){
        console.log("Evento capturado del elemento dm-user");
        this.showUser = true;
        this.showAUser = false;
        this.showLog = false;
        this.showError = true;
        this.$.uiuser.inicializarUser();
        this.new_iduser = e.detail.id;
        console.log("  Nuevo idUsuario: " + this.new_iduser);
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'myeventuser' del ui-login
      */
      processEventAlta(){
       console.log("Evento capturado del componente ui-login Hazte Cliente");
       this.showUser = false;
       this.showAUser = true;
       this.showLog = true;
       this.showError = true;
       this.$.uiuser.inicializarUser();
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'altacuenta-response'
      */
      processResquestAltaCuenta(){
        console.log("Evento capturado del elemento dm-altacuenta");
        this.showLog = false;
        this.showUser = true;
      }

      /**
      * Función que se ejecuta cuando se pulsa el boton 'Home' del menu
      */
      eventHome(){
        console.log("Botón HOME pulsado");
        console.log(this.showLogged);
        if (this.showLogged) {
          this.showHome = false;
          this.showAcc = true;
          this.showError = true;
          this.showMov = true;
          this.showAMov = true;
          this.showUser = true;
          this.showAUser = true;
          this.showLog = true;
        }
        else {
          this.showHome = true;
          this.showAcc = true;
          this.showError = true;
          this.showMov = true;
          this.showAMov = true;
          this.showLog = false;
          this.showUser = true;
          this.showAUser = true;
        }
      }

      /**
      * Función que se ejecuta cuando se pulsa el boton 'Cuentas Personales' del menu
      */
      eventCuentas(){
        console.log("Botón CUENTAS PERSONALES pulsado");
        console.log("id_user: " + this.id_user);
        this.showHome = true;
        this.showMov = true;
        this.showAMov = true;
        this.showError = true;
        this.$.cuentas.requestAccount();
      }

      /**
      * Función que se ejecuta cuando se genera el evento 'apiext-response'
      * Se informa la variable 'userInfo' que desencadenará la ejecución del receptor-login
      * @param {event} e datos de respuesta de la API externa
      */
      processWeather(e){
       console.log("Hemos recuperado el tiempo de una apiexterna");
       console.log("icon -> " + JSON.stringify(e.detail.weather[0].icon));
       console.log("temperatura -> " + JSON.stringify(e.detail.main.temp));
       console.log("min -> " + JSON.stringify(e.detail.main.temp_min) + " - max -> "+ JSON.stringify(e.detail.main.temp_max));
       console.log("valor inicial variable weathet -> " + this.weather);
       this.weather = e.detail.weather[0].icon
       this.temp = e.detail.main.temp;
       this.temp_min = e.detail.main.temp_min;
       this.temp_max = e.detail.main.temp_max;
       this.showIcon = true;
     }

     /**
     * Función que se ejecuta cuando se genera alguno de los siguientes eventos:
     * 'login-error', 'cuentas-error', 'movimientos-error', 'altamov-error' , 'user-error', 'altacuenta-error'
     */
     processError(e){
        console.log("ERROR");
        console.log(e.detail);
        if (e.detail.error == "dmMov"){
          this.showMov = false;
        }
        else{
          this.showMov = true;
        }
        this.msg = e.detail.msg;
        this.showError = false;
        this.showLog = true;
        this.showUser = true;
        this.showAUser = true;
        this.showAcc = true;
        this.showAMov = true;
        this.showHome = true;
      }

    }

    window.customElements.define(GestorLogin.is, GestorLogin);
  </script>
</dom-module>
