<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    <p>


    <div class="form-signin">

      <div class="form-group">
        <nav class="navbar navbar-light bg-light" >
          <h5>Introduce tus datos de acceso</h5>
        </nav>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" value="{{email::input}}"required/>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" value="{{password::input}}"/>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" on-click="sendDatosLogin">Login</button>
      </div>

      <div class="form-group">
        <button class="btn btn-outline-primary btn-block" on-click="sendEventUser">
          <img src="https://s3-eu-west-1.amazonaws.com/usr25-imgproyectbucket/myprofile_icon.png" alt="account" style="width: 20px; height: 20px">
          Hazte Cliente
        </button>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      };

      /**
      * Genera el evento mylog con los datos del usuario
      * @param {event} evento generado al pulsar botón login
      * @returns {json} datos del usuario: email y password
      */
      sendDatosLogin(e){
        console.log("Enviando datos login");
        console.log(e);
        var loginData = {
          "email": this.email,
          "password" : this.password
        };
        console.log(loginData);
        this.dispatchEvent(
          new CustomEvent(
            "mylog",
            {
              "detail" : {
                "email" : this.email,
                "password" : this.password
              }
            }
          )
        );
      }

      /**
      * Inicializa los campos del formulario: email y password
      */
      inicializarLog(){
        this.email='';
        this.password='';
        console.log('inicializacion de variables');
      }

      /**
      * Genera el evento myeventuser al pulsar el botón hazte cliente
      * @param {event} evento generado al pulsar botón
      * @returns {json} con la variable showUser para mostrar la vista Alta de usuario
      */
      sendEventUser(e){
        console.log("Botón Hazte Cliente pulsado");
        console.log(e);

        this.dispatchEvent(new CustomEvent(
          "myeventuser",
          {
            "detail" : {
              "showUser" :true
            }
          }
          )
        );
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
