<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ui-usermsg">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <p>
    <div class="alert alert-success" role="alert">
        <strong>Cliente dado de alta correctamente</strong>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiUserMsg extends Polymer.Element {
      static get is() { return 'ui-usermsg'; }
      static get properties() {
        return {
        };
      };

    }

    window.customElements.define(UiUserMsg.is, UiUserMsg);
  </script>
</dom-module>
