<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<!--url="http://localhost:3000/apitechu/v2/login"-->
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://my-projectvyp-apitechuvyp.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorLogin extends Polymer.Element {
      static get is() { return 'receptor-login'; }
      static get properties() {
        return {
          credential: {
            type: Object,
            observer: 'requestLogin'
          }
        };
      }

      /**
      * Función envia la petición de login al servidor mediante IronAjax
      * @param {json} data credenciales del usuario
      */
      requestLogin(data){
        console.log("Entrando en 'requestLogin'");
        console.log(data);
        this.$.doLogin.body = data;
        this.$.doLogin.generateRequest();
        console.log("Llamada a API login realizada");
      }

      /**
      * Respuesta correcta de la api login
      * @param {event} e respuesta del servidor
      * @returns {event} devuelve el evento logresponse
      */
      manageAJAXResponse(e){
        console.log("Consulta correcta. IronAjax");
        console.log(e);
        console.log(e.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "logresponse",
            {
              "detail":e.detail.response
            }
          )
        );
      }

      /**
      * Respuesta errónea de la api login
      * @param {event} error respuesta del servidor en caso de error
      * @returns {event} devuelve el evento 'login-error'
      */
      showError(error){
        console.log("Error receptor-login");
        console.log(error);
        this.dispatchEvent(new CustomEvent(
          "login-error",
          {
          "detail": {"msg":"Error login usuario"}
          }
        )
       );

      }

    }

    window.customElements.define(ReceptorLogin.is, ReceptorLogin);
  </script>
</dom-module>
