<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="ui-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <p>
    <div class="form-group">
      <nav class="navbar navbar-light " >
        <h3>¡Hola,<strong> {{first_name}} {{last_name}}!</strong></h3>
      </nav>
    </div>

  <div class="card">
    <div class="card-header">
      <table>
    		<tr>
    			<td width="15%">
    				<img src="https://s3-eu-west-1.amazonaws.com/usr25-imgproyectbucket/account_icon.png" alt="account" style="width: 40px; height: 40px" class="rounded float-left">
    			</td>
    			<td width="85%">
    				<h5>Cuentas Personales</h5>
    			</td>
    		</tr>
    	</table>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">IBAN</th>
            <th scope="col">Saldo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" id="cuentas" items="{{account}}">
            <tr>
    	         <td>{{item.IBAN}}</td>
               <td>{{item.balance}} €</td>
               <td>
                 <button type="button" class="btn btn-secondary btn-sm" on-click="sendDatosAccount">Ver movimientos</button>
               </td>
             </tr>
           </template>
         </tbody>
       </table>
     </div>
   </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiCuentas extends Polymer.Element {
      static get is() { return 'ui-cuentas'; }
      static get properties() {
        return {
          first_name:{
            type: String
          },
          last_name:{
            type: String
          },
          account:{
            type:Array
          }
        };
      };

      /**
      * Función que envia evento para mostrar información de cuentas de un usuario
      * @param {event} e recibe Objeto con las cuentas del usuario
      * @returns {event} devuelve el evento 'myaccount'
      */
      sendDatosAccount(e){
        console.log("Enviando datos cuentas");
        console.log(e);
        //esto no haria falta, solo es para ver su contenido
        var accountData = {
          "account_id": e.model.item.account_id,
          "account": e.model.item.IBAN,
          "balance":e.model.item.balance
        };
        console.log(accountData);
        this.dispatchEvent(
          new CustomEvent(
            "myaccount",
            {
              "detail" : {
                "account_id": e.model.item.account_id,
                "account": e.model.item.IBAN,
                "balance":e.model.item.balance
              }
            }
          )
        );
      }

    }

    window.customElements.define(UiCuentas.is, UiCuentas);
  </script>
</dom-module>
