<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doMovement"
      url="http://my-projectvyp-apitechuvyp.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/account/{{id_account}}/movements"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmMovimientos extends Polymer.Element {
      static get is() { return 'dm-movimientos'; }
      static get properties() {
        return {
          id_account: {
            type: Number,
            observer: 'requestMovement'
          }
        };
      }

      /**
      * Función que se ejecuta cuando cambia el valor de la propiedad 'id_account'.
      * Envia la petición de consulta de movimiento de una cuenta al servidor mediante IronAjax
      */
      requestMovement(){
        console.log("Entrando en 'requestMovement'");
        console.log("id_account: " + this.id_account);
        this.$.doMovement.generateRequest();
        console.log("Llamada a API movimientos realizada");
      }

      /**
      * Respuesta correcta de la api consulta de movimientos de una cuenta
      * @param {event} e respuesta del servidor
      * @returns {event} devuelve el evento 'movementresponse'
      */
      manageAJAXResponse(e){
        console.log("Consulta correcta. IronAjax");
        console.log(e);
        console.log(e.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "movementresponse",
            {
              "detail":e.detail.response
            }
          )
        );
      }

      /**
      * Respuesta errónea de la api consulta de movimientos de una cuenta
      * @param {event} error respuesta del servidor en caso de error
      * @returns {event} devuelve el evento 'movimientos-error'
      */
      showError(error){
        console.log("Error dm-movimientos");
        console.log(error.detail);
        this.dispatchEvent(new CustomEvent("movimientos-error",
        {
          "detail": {
              "msg":"No hay movimientos asociados a la cuenta",
              "error": "dmMov"
            }
          })
        );
      }

    }

    window.customElements.define(DmMovimientos.is, DmMovimientos);
  </script>
</dom-module>
