<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">

    <div class="form-signin">

      <div class="form-group">
        <nav class="navbar navbar-light bg-light" >
          <h5>Alta Usuario</h5>
        </nav>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="First name" value="{{first_name::input}}"required/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last name" value="{{last_name::input}}"required/>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" value="{{email::input}}"required/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" value="{{password::input}}"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" on-click="sendEventUser">Aceptar</button>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class uiUser extends Polymer.Element {
      static get is() { return 'ui-user'; }
      static get properties() {
        return {
          email:{
            type: String
          }, password:{
            type: String
          }, first_name:{
            type: String
          }, last_name:{
            type: String
          }

        };
      }

      /**
      * Genera el evento myeventuser con los datos para el alta del usuario
      * @param {event} evento generado al pulsar botón aceptar
      * @returns {json} datos del usuario: email,password, first_name y last_name
      */
      sendEventUser(e){
        console.log("Botón Alta pulsado");
        console.log(e);

        this.dispatchEvent(new CustomEvent(
          "myeventuser",
          {
            "detail" : {
              "email" : this.email,
              "password" : this.password,
              "first_name" : this.first_name,
              "last_name" : this.last_name
            }
          })
        );
      }

      /**
      *Inicializar variables
      */
      inicializarUser(){
        this.first_name = "";
        this.last_name = "";
        this.email = "";
        this.password = "";
        console.log('inicializacion de variables');
      }

    }

    window.customElements.define(uiUser.is, uiUser);
  </script>
</dom-module>
